<plantilla-a-component
  [columnsTable]="columnsTable"
  [originalDataTable]="dataTable"
  [placeholderHeaderInputText]="'Buscar Tara...'"
  [contexto]="this"
  [onSaveRowData]="'onSaveRowTable'"
  [tableInputsEditRow]="tableInputsEditRow"
  [filterFormInputs]="filterFormInputs"
  [filterFormSearchButtonProps]="filterFormSearchButtonProps"
  [onChangeHeaderFilterForm]="'onChangeHeaderFilterForm'"
  keyNameTable="codigoHacienda"
  [colsToFilterByText]="colsToFilterByText"
  [defaultEmptyRowTable]="defaultEmptyRowTable"
  [IdRowToClone]="IdRowToClone"
  colIdToDisable="codigoHacienda"
></plantilla-a-component>