<plantilla-a-component
  [filterFormSearchButtonProps]=""
  [columnsTable]="columnsTable"
  [originalDataTable]="dataTable"
  [placeholderHeaderInputText]="'Buscar Semana'"
  [contexto]="this"
  [onSaveRowData]="'onSaveRowTable'"
  [tableInputsEditRow]="tableInputsEditRow"
  [filterFormInputs]="filterFormInputs"
  [filterFormSearchButtonProps]="filterFormSearchButtonProps"
  [onChangeHeaderFilterForm]="'onChangeHeaderFilterForm'"
  keyNameTable="codigoCalendario"
  [colsToFilterByText]="colsToFilterByText"
  [defaultEmptyRowTable]="defaultEmptyRowTable"
  [IdRowToClone]="IdRowToClone"
  colIdToDisable="codigoCalendario"
></plantilla-a-component>