<div class="bg-white px-4">
  <back-button-component
    *ngIf="hasBackButtonOptions"
    [mainText]="backButtonData.mainText"
    [textDetails]="backButtonData.textDetails"
    [onBackFunction]="backButtonData.onBackFunction"
    [contexto]="contexto"
  ></back-button-component>
</div>
<plantilla-a-component
  [onCreateFunction]="onCreateFunction"
  [columnsTable]="columnsTable"
  [originalDataTable]="originalDataTable"
  [placeholderHeaderInputText]="placeholderHeaderInputText"
  [contexto]="contexto"
  [tableInputsEditRow]="tableInputsEditRow"
  [keyNameTable]="keyNameTable"
  [colsToFilterByText]="colsToFilterByText"
  [defaultEmptyRowTable]="defaultEmptyRowTable"
  [IdRowToClone]="IdRowToClone"
  [filterFormInputs]="filterFormInputs"
  [filterFormSearchButtonProps]="filterFormSearchButtonProps"
  [titleReport]="titleReport"
>
</plantilla-a-component>
