<div class="bg-white">
  <div class="px-4">
    <back-button-component [mainText]="backButtonData.mainText" [onBackFunction]="backButtonData.onBackFunction"
      [textDetails]="backButtonData.textDetails" [contexto]="this"></back-button-component>
  </div>
  <div class="d-flex justify-content-end mb-3" *ngIf="pageFormType !== 'VISUALIZAR'">
    <button class="btn btn-info d-flex alig-items-center" (click)="validateToSave()">
      <i class="material-icons me-1">save</i>
      Guardar
    </button>
  </div>
  <div>
    <form-component [formItems]="sectorForm" [formName]="'sectorForm'">
    </form-component>
    <form-component [formItems]="jefeSectorForm" [formName]="'jefeSectorForm'">
    </form-component>
    <div class="text-warning fw-semibold ms-4 fs-5">Coordenadas</div>
    <form-component [formItems]="coordenadas1Form" [formName]="'coordenadas1Form'">
    </form-component>
    <form-component [formItems]="coordenadas2Form" [formName]="'coordenadas2Form'">
    </form-component>
  </div>
</div>